<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>[[config.page-title]]</title>
  <meta name="description" content="[[config.page-description]]">
  <meta name="author" content="[[config.page-author]]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="{br}3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{br}3rdparty/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="{br}3rdparty/humane-js/themes/original.css" rel="stylesheet">
  <link href="{br}3rdparty/gritter/css/jquery.gritter.css" rel="stylesheet">
  <link href="{br}css/bright.css" rel="stylesheet">
  <link href="{/}css/styles.css" rel="stylesheet">

  <!--[if lt IE 8]>
    <script src="{/}js/json2.js"></script>
  <![endif]-->

  <script src="{br}3rdparty/jquery/jquery-1.7.1.min.js"></script>
  <script src="{br}3rdparty/bootstrap/js/bootstrap.min.js"></script>
  <script src="{br}3rdparty/handlebars/handlebars.min.js"></script>
  <script src="{br}3rdparty/gritter/js/jquery.gritter.min.js"></script>
  <script src="{br}js/bright.min.js"></script>
  <script src="{/}js/app.js"></script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
