.template {
  display: none; }

.centered {
  text-align: center !important; }

.left-aligned {
  text-align: left !important; }

.right-aligned {
  text-align: right !important; }

a.justified, select.justified, textarea.justified, audio.justified, input.justified, div.justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px; }

input.justified, div.justified {
  height: 2em; }

td.optimal-width, th.optimal-width {
  width: 10px;
  white-space: nowrap; }

span.required {
  color: red;
  margin-right: 5px;
  font-weight: bold; }

.br-template {
  display: none; }

.br-centered {
  text-align: center !important; }

.br-left-aligned {
  text-align: left !important; }

.br-right-aligned {
  text-align: right !important; }

textarea.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px; }

input.br-justified, div.br-justified {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px; }

select.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px; }

a.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px; }

td.br-optimal-width, th.br-optimal-width {
  width: 10px;
  white-space: nowrap; }

span.br-required {
  color: red;
  margin-right: 5px;
  font-weight: bold; }

.br-full-height {
  height: 100%; }

.br-full-width {
  width: 100%; }

.br-scrollable {
  height: 100%;
  overflow: auto; }

@media print {
  .br-container {
    margin-top: 0px !important;
    height: auto !important; }
  .br-scrollable {
    height: auto;
    overflow: visible; } }

.br-ajax-dropdown li {
  white-space: nowrap; }

.br-ajax-dropdown li a {
  line-height: 14px !important;
  font-size: 10pt; }

.br-ajax-dropdown li.group-item {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer; }

@media print {
  .br-no-print {
    display: none; }
  .br-print-only {
    display: inline; } }

.br-editable {
  border: 1px solid transparent; }

.br-editable:hover {
  border: 1px dashed orange;
  cursor: text; }

div.br-editable, span.br-editable {
  padding: 2px; }

/* Bootstrap fx */
.navbar .nav > li > img {
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 6px; }

.container-box {
  margin-top: 45px; }

/* bootstrap */
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner {
    padding: 0px;
    padding-left: 0px;
    padding-right: 5px; }
  .navbar-fixed-top .navbar-inner .container-fluid {
    padding-left: 5px;
    padding-right: 5px; }
  .shadow-paper-box, .shadow-paper-box-fluid {
    margin-top: 10px !important;
    padding: 23px !important; } }

.control-group, legend {
  margin-bottom: 9px !important; }

.nav .btn-toolbar {
  margin-top: 6px;
  margin-bottom: 4px; }

.navbar-inner {
  padding-left: 5px;
  padding-right: 5px; }

.navbar .btn {
  margin: 5px 0px 5px 0px; }

.navbar .input-append .btn {
  margin: 0px 0px 0px 0px; }

.navbar .input-append {
  margin: 5px 0px 5px 0px; }

.navbar-internal {
  margin-bottom: 5px; }

h4 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px; }

h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px; }

h2 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px; }

h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px; }

.modal-header h1 {
  margin-top: 5px; }

h1 small {
  font-size: 14px; }

.progress-big {
  background: url("../../images/progress-big.gif") no-repeat 50% 50%;
  min-height: 128px; }

.progress-small {
  background: url("../../images/progress-small-light.gif") no-repeat 50% 50%; }

.progress-small-dark {
  background: url("../../images/progress-small.gif") no-repeat 50% 50%; }

a, .clickable, .sortable, label.checkbox {
  cursor: pointer; }

div.br-sort-index {
  border: 1px solid #AAA;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline;
  border-radius: 3px;
  margin-left: 4px;
  font-weight: normal; }

.blured, .muted {
  color: #999; }

.google-map img {
  max-width: none !important; }

.nav .btn-toolbar .btn {
  margin-top: 0px;
  margin-bottom: 2px; }

/* filters */
.filter-panel {
  min-height: 20px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 8px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.filter-panel:after {
  content: "";
  clear: both;
  display: block; }

.filter-block {
  height: 60px;
  margin-right: 10px; }

.filter-block label {
  color: black; }

li.ajax-in-progress span.icon-spin {
  margin-top: 5px;
  color: white; }

.text-right {
  text-align: right; }

a i:hover, .brand:hover {
  text-decoration: none; }

.open > .dropdown-menu.scrollable {
  overflow-y: auto;
  max-height: 600px; }

a.not-a {
  text-decoration: none !important;
  color: inherit !important; }

.label {
  font-weight: normal !important;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px; }

.badge {
  font-weight: normal !important;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px; }

table.table th {
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.3em; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.pager-nav-element, .pager-size-element {
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px; }

a.pager-nav-element:hover, a.pager-size-element:hover {
  text-decoration: none;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #AAA;
  border-radius: 3px;
  color: none; }

.tooltip {
  z-index: 1060; }

.input-append {
  white-space: normal; }

.br-container-main {
  margin-top: 55px; }

@media (max-width: 979px) {
  .br-container-main {
    margin-top: 10px; } }
