.centered {
  text-align: center !important;
}

.left-aligned {
  text-align: left !important;
}

.right-aligned {
  text-align: right !important;
}

a:not(.btn).justified,
select.justified,
textarea.justified,
audio.justified,
input.justified,
div.justified {
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

a.btn.justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

div.justified {
  min-height: 28px;
}

td.optimal-width,
th.optimal-width {
  width: 10px;
  white-space: nowrap;
}

span.required {
  color: red;
  margin-right: 5px;
  font-weight: bold;
}

a[disabled] {
  pointer-events: none;
}

.btn:focus {
  outline: 0 !important;
}

.btn-two-lines {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 1;
  font-size: 13px;
}

.btn-two-lines div {
  float: right;
  padding-left: 6px;
  text-align: left;
}

/* BR */
.br-template {
  display: none;
}

.br-centered {
  text-align: center !important;
}

.br-left-aligned {
  text-align: left !important;
}

.br-right-aligned {
  text-align: right !important;
}

textarea.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

input.br-justified,
div.br-justified {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

select.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

a.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

td.br-optimal-width,
th.br-optimal-width {
  width: 10px;
  white-space: nowrap;
}

span.br-required {
  color: red;
  margin-right: 5px;
  font-weight: bold;
}

.br-full-height {
  height: 100%;
}

.br-full-width {
  width: 100%;
}

.br-scrollable {
  height: 100%;
  overflow: auto;
}

@media print {
  .br-container {
    margin-top: 0px !important;
    height: auto !important;
  }
  .br-scrollable {
    height: auto;
    overflow: visible;
  }
}
.br-ajax-dropdown li {
  white-space: nowrap;
}

.br-ajax-dropdown li a {
  line-height: 14px !important;
  font-size: 10pt;
}

.br-ajax-dropdown li.group-item {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

@media print {
  .br-no-print {
    display: none;
  }
  .br-print-only {
    display: inline;
  }
}
.br-editable {
  border: 1px solid transparent;
}

.br-editable:hover {
  border: 1px dashed orange;
  cursor: text;
}

div.br-editable, span.br-editable {
  padding: 2px;
}

.br-filters-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.br-filters-panel .br-filter-block {
  padding-right: 10px;
  padding-bottom: 10px;
}

.br-filters-panel .br-filter-block label {
  color: black;
}

.br-filters-panel .br-filter-block .input-append {
  margin-bottom: 0;
}

.br-filters-panel .br-filter-block-wide {
  flex-grow: 1;
}

.br-progress-bar {
  background-color: lightblue;
}

.br-progress-bar .br-progress-bar-meter {
  color: white;
  mix-blend-mode: difference;
  width: 100px;
  text-align: center;
  border: 1px solid orangered;
  margin: -1px;
  border-radius: 2px;
}

.br-uppercase,
.uppercase {
  text-transform: uppercase;
}

.br-lowercase,
.lowercase {
  text-transform: lowercase;
}

.br-capitalize,
.capitalize {
  text-transform: capitalize;
}

.br-pager-control .br-pager-pager-container,
.br-pager-control .br-pager-selection-container,
.br-pager-control .br-pager-page-size-container,
.pager-control .pager-pager-container,
.pager-control .pager-selection-container,
.pager-control .pager-page-size-container {
  margin-bottom: 8px;
}

.br-pager-control .pbr-ager-nav-element,
.br-pager-control .br-pager-size-element,
.pager-control .pager-nav-element,
.pager-control .pager-size-element {
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.br-pager-control .br-pager-nav-element:hover,
.br-pager-control .br-pager-size-element:hover,
.pager-control .pager-nav-element:hover,
.pager-control .pager-size-element:hover {
  text-decoration: none;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #AAA;
  border-radius: 3px;
  color: none;
}
