.template {
  display: none;
}

.centered {
  text-align: center !important;
}

.left-aligned {
  text-align: left !important;
}

.right-aligned {
  text-align: right !important;
}

a.justified,
select.justified,
textarea.justified,
audio.justified,
input.justified,
div.justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

select.justified,
textarea.justified,
audio.justified,
input.justified,
div.justified {
  min-height: 30px;
  line-height: 1em;
}

td.optimal-width,
th.optimal-width {
  width: 10px;
  white-space: nowrap;
}

span.required {
  color: red;
  margin-right: 5px;
  font-weight: bold;
}

a[disabled] {
  pointer-events: none;
}

.btn:focus {
  outline: 0 !important;
}

.btn-two-lines {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 1em;
  font-size: 13px;
}

.btn-two-lines div {
  float: right;
  padding-left: 6px;
  text-align: left;
}

/* BR */
.br-template {
  display: none;
}

.br-centered {
  text-align: center !important;
}

.br-left-aligned {
  text-align: left !important;
}

.br-right-aligned {
  text-align: right !important;
}

textarea.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

input.br-justified,
div.br-justified {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

select.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

a.br-justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}

td.br-optimal-width,
th.br-optimal-width {
  width: 10px;
  white-space: nowrap;
}

span.br-required {
  color: red;
  margin-right: 5px;
  font-weight: bold;
}

.br-full-height {
  height: 100%;
}

.br-full-width {
  width: 100%;
}

.br-scrollable {
  height: 100%;
  overflow: auto;
}

@media print {
  .br-container {
    margin-top: 0px !important;
    height: auto !important;
  }
  .br-scrollable {
    height: auto;
    overflow: visible;
  }
}
.br-ajax-dropdown li {
  white-space: nowrap;
}

.br-ajax-dropdown li a {
  line-height: 14px !important;
  font-size: 10pt;
}

.br-ajax-dropdown li.group-item {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

@media print {
  .br-no-print {
    display: none;
  }
  .br-print-only {
    display: inline;
  }
}
.br-editable {
  border: 1px solid transparent;
}

.br-editable:hover {
  border: 1px dashed orange;
  cursor: text;
}

div.br-editable, span.br-editable {
  padding: 2px;
}

.br-filters-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.br-filters-panel .br-filter-block {
  padding-right: 10px;
  padding-bottom: 10px;
}

.br-filters-panel .br-filter-block label {
  color: black;
}

.br-filters-panel .br-filter-block .input-append {
  margin-bottom: 0;
}

.br-filters-panel .br-filter-block-wide {
  flex-grow: 1;
}

.br-progress-bar {
  background-color: lightblue;
}

.br-progress-bar .br-progress-bar-meter {
  color: white;
  mix-blend-mode: difference;
  width: 100px;
  text-align: center;
  border: 1px solid orangered;
  margin: -1px;
  border-radius: 2px;
}

.br-uppercase,
.uppercase {
  text-transform: uppercase;
}

.br-lowercase,
.lowercase {
  text-transform: lowercase;
}

.br-capitalize,
.capitalize {
  text-transform: capitalize;
}

.br-pager-control .br-pager-pager-container,
.br-pager-control .br-pager-selection-container,
.br-pager-control .br-pager-page-size-container,
.pager-control .pager-pager-container,
.pager-control .pager-selection-container,
.pager-control .pager-page-size-container {
  margin-bottom: 8px;
}

.br-pager-control .pbr-ager-nav-element,
.br-pager-control .br-pager-size-element,
.pager-control .pager-nav-element,
.pager-control .pager-size-element {
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.br-pager-control .br-pager-nav-element:hover,
.br-pager-control .br-pager-size-element:hover,
.pager-control .pager-nav-element:hover,
.pager-control .pager-size-element:hover {
  text-decoration: none;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #AAA;
  border-radius: 3px;
  color: none;
}

/* Bootstrap fx */
.navbar .nav > li > img {
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 6px;
}

.container-box {
  margin-top: 30px;
}

/* bootstrap */
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner {
    padding: 0px;
    padding-left: 0px;
    padding-right: 5px;
  }
  .navbar-fixed-top .navbar-inner .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
  .shadow-paper-box, .shadow-paper-box-fluid {
    margin-top: 10px !important;
    padding: 23px !important;
  }
}
.control-group, legend {
  margin-bottom: 9px !important;
}

.form-horizontal .control-label-two-rows {
  padding-top: 4px !important;
  line-height: 14px;
}

.nav .btn-toolbar {
  margin-top: 6px;
  margin-bottom: 4px;
}

.navbar-inner {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-internal {
  margin-bottom: 5px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-header h1 {
  margin-top: 5px;
}

h1 small {
  font-size: 14px;
}

.progress-big {
  background: url("../../images/progress-big.gif") no-repeat 50% 50%;
  min-height: 128px;
}

.progress-small {
  background: url("../../images/progress-small-light.gif") no-repeat 50% 50%;
}

.progress-small-dark {
  background: url("../../images/progress-small.gif") no-repeat 50% 50%;
}

a, .clickable, .sortable, label.checkbox {
  cursor: pointer;
}

div.br-sort-index {
  border: 1px solid #AAA;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline;
  border-radius: 3px;
  margin-left: 4px;
  font-weight: normal;
}

.blured, .muted {
  color: #999;
}

.google-map img {
  max-width: none !important;
}

.nav .btn-toolbar .btn {
  margin-top: 0px;
  margin-bottom: 2px;
}

/* filters */
.filter-panel {
  min-height: 20px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #EFEFEF;
}

.filter-panel:after {
  content: "";
  clear: both;
  display: block;
}

.filter-block {
  height: 65px;
  padding-left: 0px;
  margin-right: 6px;
}

.filter-block label {
  color: black;
}

li.ajax-in-progress span.icon-spin {
  margin-top: 5px;
  color: white;
}

a i:hover, .brand:hover {
  text-decoration: none;
}

.open > .dropdown-menu.scrollable {
  overflow-y: auto;
  max-height: 600px;
}

a.not-a {
  text-decoration: none;
  color: inherit;
}

.label {
  font-weight: normal !important;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

table.table th {
  text-align: center;
  vertical-align: middle;
}

/* bootstrap3 */
.form-control.select2-container {
  padding: 0px;
  border: 0px;
}

.form-control.select2-container .select2-choice {
  height: 33px;
  padding-top: 3px;
}

.form-control.select2-container .select2-choice div {
  height: 33px;
  padding-top: 3px;
}

/* submenu */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.thumbnail {
  background-color: initial;
}

.br-container-main {
  margin-top: 55px;
}

@media (max-width: 979px) {
  .br-container-main {
    margin-top: 10px;
  }
}
