.template {
  display: none;
}
.centered {
  text-align: center !important;
}
.left-aligned {
  text-align: left !important;
}
.right-aligned {
  text-align: right !important;
}
textarea.justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}
input.justified, div.justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}
select.justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}
a.justified {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
}
td.optimal-width, th.optimal-width {
  width:10px;
  white-space:nowrap;
}
