@import 'bright.scss';

/* Bootstrap fx */
.navbar .nav > li > img {
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 6px;
}
.container-box {
  margin-top: 45px;
}

/* bootstrap */
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner {
    padding: 0px;
    padding-left: 0px;
    padding-right: 5px;
  }
  .navbar-fixed-top .navbar-inner .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
  .shadow-paper-box, .shadow-paper-box-fluid {
    margin-top: 10px !important;
    padding: 23px !important;
  }
}

.control-group, legend {
  margin-bottom: 9px !important;
}

.nav .btn-toolbar {
  margin-top: 6px;
  margin-bottom: 4px;
}

.nav .btn-toolbar .btn-group {
  margin-top: 0;
}

.navbar-inner {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar .btn {
  margin: 5px 0px 5px 0px;
}

.navbar .input-append .btn {
  margin: 0px 0px 0px 0px;
}

.navbar .input-append {
  margin: 5px 0px 5px 0px;
}

.navbar-internal {
  margin-bottom: 5px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 2px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-header h1 {
  margin-top: 5px;
}

h1 small {
  font-size: 14px;
}

.progress-big {
  background: url('../../images/progress-big.gif') no-repeat 50% 50%;
  min-height: 128px;
}

.progress-small {
  background: url('../../images/progress-small-light.gif') no-repeat 50% 50%;
}

.progress-small-dark {
  background: url('../../images/progress-small.gif') no-repeat 50% 50%;
}

a, .clickable, .sortable, label.checkbox {
  cursor: pointer;
}

div.br-sort-index {
  border: 1px solid #AAA;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: inline;
  border-radius: 3px;
  margin-left: 4px;
  font-weight: normal;
}

.blured, .muted {
  color: #999;
}

.google-map img {
  max-width: none !important;
}

.nav .btn-toolbar .btn {
  margin-top: 0px;
  margin-bottom: 2px;
}

/* filters */
.filter-panel {
  min-height: 20px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 8px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.filter-panel:after {
  content:"";
  clear:both;
  display:block;
}

.filter-block {
  height: 60px;
  margin-right: 10px;
}

.filter-block label {
  color: black;
}

li.ajax-in-progress span.icon-spin {
  margin-top: 5px;
  color: white;
}

.text-right {
  text-align: right;
}

a i:hover, .brand:hover {
  text-decoration: none;
}

.open>.dropdown-menu.scrollable {
  overflow-y: auto;
  max-height: 600px;
}

a.not-a {
  text-decoration: none !important;
  color: inherit !important;
}

.label {
  font-weight: normal !important;
  padding:3px;
  padding-left:5px;
  padding-right:5px;
}

.badge {
  font-weight: normal !important;
  padding:1px;
  padding-left:5px;
  padding-right:5px;
}

table.table th {
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.3em;
}

.tooltip {
  z-index: 1060;
}
.input-append {
  white-space: normal;
}

/* compatible with bootstrap3 */
.input-group-btn {
  float:right;
}

.br-container-main {
  margin-top: 55px;
}

@media (max-width: 979px) {
  .br-container-main {
    margin-top: 10px;
  }
}
