  <!--[if lt IE 8]>
  <script src="[[br]]3rdparty/json2/latest/js/json2.min.js"></script>
  <![endif]-->

  <script src="[[br]]3rdparty/jquery/latest/js/jquery.min.js"></script>
  <script src="[[br]]3rdparty/jquery-ui/latest/js/jquery-ui.min.js"></script>
  <script src="[[br]]3rdparty/bootstrap/latest/js/bootstrap.min.js"></script>
  <script src="[[br]]3rdparty/handlebars/latest/js/handlebars.min.js"></script>
  <script src="[[br]]3rdparty/gritter/latest/js/jquery.gritter.min.js"></script>
  <script src="[[br]]dist/js/bright.min.js"></script>

{:/login.html}
  <script src="[[br]]js/br.user.js"></script>
{:}
