<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>[[br.config.page-title]]</title>
  <meta name="description" content="[[br.config.page-description]]">
  <meta name="author" content="[[br.config.page-author]]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="[[br]]3rdparty/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
  <link href="[[br]]3rdparty/fontawesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="[[br]]3rdparty/jquery-ui/latest/css/jquery-ui.theme.min.css" rel="stylesheet">
  <link href="[[br]]css/bright.bs3.css" rel="stylesheet">
  <link href="[[/]]css/styles.css" rel="stylesheet">
</head>
