<?php

br()->config()->set( 'db'
                   , array( 'engine'     => 'mysql'
                          , 'hostname'   => 'localhost'
                          , 'name'       => '[dbname]'
                          , 'username'   => '[username]'
                          , 'password'   => '[password]'
                          , 'charset'    => 'UTF8'
                          ));
