{@head.html}

<body [[#isMyAccount]]class="my-account"[[/isMyAccount]] data-user-id="[[login.id]]">

  <script id="userCountryRow" type="template/text">
    <tr data-rowid="{{id}}">
      <td>{{display.country.name}}</td>
      <td class="optimal-width">{{#if __permissions.canRemove}}<a href="javascript:;" class="btn btn-default btn-xs action-delete"><i class="icon-trash"></i></a>{{/if}}</td>
    </tr>
  </script>

  <div id="userEditor">

{@navigation.html}

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          [[#isMyAccount]]
          <h1>My account - [[login.name]]</h1>
          [[/isMyAccount]]
          [[^isMyAccount]]
          <h1><span class="operation">Edit user</span></h1>
          [[/isMyAccount]]
        </div>
      </div>

      <div id="generalInfoHeader" class="row">
        <div class="col-lg-12">
          <legend>Account</legend>
        </div>
      </div>

      <div id="generalInfoContainer" class="form-horizontal">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label"><span class="required">*</span>Login</label>
              <div class="col-lg-5">
                <input type="text" class="form-control required data-field" name="login" placeholder="login" title="Login" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Password</label>
              <div class="col-lg-5">
                <input type="password" class="form-control required required-insert-only data-field" name="password" placeholder="password" title="Password" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <div class="col-lg-offset-3 col-lg-9">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="data-field" name="is_notify_about_messages"> Notify about messages
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="contactInfoHeader" class="row">
        <div class="col-lg-12">
          <legend>Contact details</legend>
        </div>
      </div>

      <div id="contactInfoContainer"  class="form-horizontal">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-lg-3 control-label"><span class="required">*</span>Name</label>
              <div class="col-lg-9">
                <input type="text" class="form-control required data-field" name="name" placeholder="name" title="Name" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">E-Mail</label>
              <div class="col-lg-9">
                <input type="text" class="form-control data-field" name="email" placeholder="email" title="E-Mail" />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


{@edit-advertisment.html}
{@footer.html}
