<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="[[config.meta/description]]">
  <meta name="author" content="[[config.meta/author]]">

  <title>[[config.meta/title]]</title>

  <link href="[[br]]3rdparty/bootstrap/latest/css/bootstrap.min.css?v=159515d30511" rel="stylesheet">
  <link href="[[br]]3rdparty/fontawesome/latest/css/all.min.css?v=585780038dc" rel="stylesheet" />
  <link href="[[br]]dist/css/bright.latest.css?v=4638707b6a" rel="stylesheet">
