<div class="row pager-control mb-2" style="display:none;">
  <div class="col-md-12">
    <div class="float-right">
      <small>
        <span class="pager-page-size-navigation"></span> records per page
      </small>
    </div>
    <div>
      <small>
        <span class="pager-stat"></span>
      </small>
      <span class="selection-stat badge badge-secondary" style="display:none;"></span>
      <a class="badge badge-primary action-clear-selection" href="javascript:;" style="display:none;">Clear selection</a>
      <small>
        <span class="pager-nav-element">|</span>
        <span class="pager-nav-element">Goto</span>
        <a class="pager-action-prior pager-nav-element">prior</a>
        <span class="pager-page-navigation"></span>
        <a class="pager-action-next pager-nav-element">next</a>
        <span class="pager-nav-element">page</span>
      </small>
    </div>
  </div>
</div>
