<style>

div.breeze-debug-panel { 
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 300; 
  font-size: 12pt; 
  margin: 5px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  clear:both;
}
div.breeze-debug-panel div.title { 
  font-size: 12pt; 
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

</style>

<div class="breeze-debug-panel">
  <pre><div class="title">Debug output</div><?php print_r($var); ?></pre>
</div>