<style>

div.bright-debug-panel {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 10pt;
  margin: 5px;
  background: #FFC;
  border:1px solid #EFEFEF;
  z-index: 1000;
  color: black;
}
div.bright-debug-panel div.wrapper {
  padding: 10px;
}
div.bright-debug-panel div.bright-debug-section {
  padding: 5px;
}
div.bright-debug-panel div.title {
  font-size: 12pt;
  margin-bottom: 4px;
}
div.bright-debug-panel div.info-box {
  padding: 10pt;
  background-color: #FEFEFE;
  border: 1px solid #EFEFEF;
  white-space: pre;
  font-family: Courier;
}
div.bright-debug-panel pre {
  font-size: 8pt;
  line-height: 10pt;
}

</style>

<div class="bright-debug-panel">
  <div class="wrapper">
    <div class="bright-debug-section">
      <div class="title">Debug message:</div>
      <div class="info-box"><?php print_r($message); ?></div>
    </div>
  </div>
</div>