<style>

div.breeze-error-panel { 
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 300; 
  font-size: 12pt; 
  margin: 50px;
  background: #FFC;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  color:black;
  /*margin-left: 400px;*/
  /*border: #FC6 1px solid;*/
}
div.breeze-error-panel div.wrapper { 
  padding: 30px;
}
div.breeze-error-panel div.breeze-error-section { 
  padding: 5px;
}
div.breeze-error-panel div.error { 
  font-size: 18pt; 
  color: red; 
}
div.breeze-error-panel div.info { 
  padding-left: 20px;
}
div.breeze-error-panel div.title { 
  font-size: 14pt; 
  margin-bottom: 4px;
}
div.breeze-error-panel div.info-box { 
  font-size: 10pt; 
  padding: 10px; 
  background-color: #FEFEFE; 
  border: 1px solid #BFBFBF;
}

</style>

<div class="breeze-error-panel">
  <div class="wrapper">
    <div class="breeze-error-section">
      <div class="error"><?php echo(htmlentities($errorMessage)); ?></div>
      <div class="info">in <?php echo($e->getFile()); ?>, line <?php echo($e->getLine());?></div>
    </div>
    <?php if ($errorInfo) { ?>
    <div class="breeze-error-section">
      <div class="title">Additional info:</div>
      <div class="info-box">
      <?php echo(htmlentities($errorInfo)); ?>
      </div>
    </div>
    <?php } ?>
    <div class="breeze-error-section">
      <div class="title">Call stack:</div>
      <div class="info-box">
      <?php foreach($e->getTrace() as $index => $statement) {?>
      <?php echo(htmlentities(br()->log()->formatStackTraceCall($statement))); ?><br/>
      <div class="info">in <?php echo(br()->log()->formatStackTraceSource($statement)); ?></div>
      <?php } ?>
      </div>
    </div>
  </div>
</div>