<style>

div.bright-error-panel {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 10pt;
  margin: 4px;
  background-color: #FFC;
  border: 1px solid #EFEFEF;
  z-index: 1000;
  color: black;
}
div.bright-error-panel-wrapper {
  padding: 4px;
}
div.bright-error-panel div.bright-error-section {
  padding: 4px;
}
div.bright-error-panel div.error {
  font-size: 14pt;
  color: red;
}
div.bright-error-panel div.info-box {
  font-family: Courier;
  padding: 10px;
  background-color: #FEFEFE;
  border: 1px solid #DDD;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 12pt;
}

</style>

<div class="bright-error-panel">
  <div class="bright-error-panel-wrapper">
    <div class="bright-error-section">
      <div class="error"><?php echo($errorMessage); ?></div>
      <?php if ($errorFile) { ?>
      <div>in <?php echo($errorFile);?></div>
      <?php } ?>
    </div>
    <?php if ($errorInfo) { ?>
    <div class="bright-error-section">
      <div class="info-box"><?php echo(htmlentities($errorInfo)); ?></div>
    </div>
    <?php } ?>
    <?php if ($traceInfo) { ?>
    <div class="bright-error-section">
      <div class="info-box"><?php echo($traceInfo); ?></div>
    </div>
    <?php } ?>
  </div>
</div>